* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

.grid-container {
    background:  #22f307;
}

header {
    background: #22f307;
    color: #030a01;
    text-align: center;
}


.rhyme-logo img {
    height: 35%;
    width: 35%;
    object-position: top center;
}

.rhyme-logo h1{
    font-family: monospace;
    font-size: 25px;
    margin: 0;
    color: rgba(226, 44, 44, 0.664);
}

button:hover {
    background-color: rgba(226, 44, 44, 0.664);
}

.image-container img {
    display: block;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: row;
} */

marquee {
    color: rgb(12, 1, 6);
    font-family: cursive;
    text-decoration: wavy;
}

ul li img {
    list-style-type: none;
    display: block;
    margin: 0 auto;
}


  footer {
    background: #22f307;

  }

